/* DBB shared style */
body {background: white;}
header {background: #4e8c57;}
header h1, header a {color: #edffed;}
header a:hover {color: #cfffbc;}
header p {color: white;}

#nav p, .footer {text-align: left; font-size: 0.8em;}
#nav {padding: 0.5em 4%; background: #edffed;}
#pages {background: #edffed;}
#related {background: #edffed;}
footer {background: white;}

#readings {
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;
}

#senses {
	list-style: disc;
}

#senses ol {
	padding-left: 2em;
}

.ddb-m-w-link, .ddb-sanskrit-nolink, .foreign {
	font-style: italic;
}
